@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --app-font: 'Poppins', sans-serif;
    --white: hsl(0deg 0% 100%);
    --black: hsl(0deg 0% 5%);
    --dark-blue: hsl(249, 10%, 26%) ;
    --grayish-blue: hsl(246, 25%, 77%);
    --blue: hsl(248, 32%, 49%);
    --red: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%); 
}

html {
  height: 100%;
}

body {
  min-height: 100vh;
  background-image: url(/src/img/bg-intro-desktop.png);
  background-color: var(--red);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--app-font);
}

html, body {
  margin: 0;
  padding: 0;
}

.App .intro__content span {
    color: var(--white);
    font-weight: bold;
    font-size: 50px;
    line-height: 1;
}

.App .intro__content p {
  color: var(--white);
  font-size: 16px;
  margin-top: 25px;
}

.App .sign__up__form .try__it__free {
  background-color: var(--blue);
  text-align: center;
  border-radius: 7px;
  padding: 20px 50px;
  margin-bottom: 25px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.App .sign__up__form .try__it__free span {
  color: var(--white);
  font-size: 16px;
  text-align: center;
}

.App .sign__up__form .form__content {
  background-color: var(--white);
  border-radius: 7px;
  padding: 40px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.App .sign__up__form .form__content input, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.App .sign__up__form .form__content button {
  width: 100%;
  background-color: var(--green);
  color: var(--white);
  padding: 14px 20px;
  margin: 8px 0;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.App .sign__up__form .form__content button:hover {
  background-color: var(--green);
}

.App .sign__up__form code {
  display: none;
}


